@keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      filter: blur(12px);
      opacity: 0;
    }
  
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes bounce-bottom {
    0% {
      transform: translateY(10px);
      animation-timing-function: ease-in;
      opacity: 1;
    }
  
    24% {
      opacity: 1;
    }
  
    40% {
      transform: translateY(8px);
      animation-timing-function: ease-in;
    }
  
    65% {
      transform: translateY(6px);
      animation-timing-function: ease-in;
    }
  
    82% {
      transform: translateY(3px);
      animation-timing-function: ease-in;
    }
  
    93% {
      transform: translateY(2px);
      animation-timing-function: ease-in;
    }
  
    25%,
    55%,
    75%,
    87% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
    }
  
    100% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
      opacity: 1;
    }
  }